version: '3'
services:
  promcord:
    image: "biospheere/promcord"
    restart: always
    env_file: .env
    container_name: "promcord"
    expose:
      - 8080
    networks:
      - promcord-net
  prometheus:
    image: "prom/prometheus"
    restart: always
    container_name: "disport-prom"
    volumes:
      - './prometheus.yml:/etc/prometheus/prometheus.yml'
      - prometheus:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
    networks:
      - promcord-net
  grafana:
    image: "grafana/grafana"
    restart: always
    volumes:
      - grafana_data:/var/lib/grafana
      - ./provisioning:/etc/grafana/provisioning
    ports:
      - 80:3000
    depends_on:
      - prometheus
    networks:
      - promcord-net

volumes:
  prometheus:
  grafana_data:

networks:
  promcord-net:
